:root {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2328;
  background-color: #f9f7f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f7f2;
}

button,
select,
textarea {
  font-family: inherit;
}
